{{>layout/head}}
<title>ADMIN</title>
</head>
<body>

<table class="table">
    <tr>
        <td><a class="btn btn-dark" href="/index">ALPHABET Simple Blog</a></td>
        <td>
            <a class="btn btn-dark" href="/index">Home</a></td>

        <td><a class="btn btn-dark" href="about.html">About</a></td>
        {{#username}}
        <td>
            <a class="btn btn-dark" href="/logout">{{.}}点击退出</a>
        </td>
        {{/username}}
        {{^username}}
        <td>
            <a class="btn btn-dark" href="/login">LogIn</a>
        </td>
        {{/username}}
        {{#adminpermission}}
        <td>
            <a class="btn btn-dark" href="/write">Write</a>
        </td>
        <td>
            <a class="btn btn-dark" href="/admin">Admin</a>
        </td>
        <td>
            <a class="btn btn-dark" href="/image">Photo</a>
        </td>
        {{/adminpermission}}
    </tr>
</table>

<table class="table">
    <tr>
        <th>userid</th>
        <th>username</th>
        <th>password</th>
        <th>type</th>
        <th>update</th>
        <!--<th>delete</th>-->
    </tr>
    {{#userinfo}}
    <!--vate int userid;-->
    <!--private String username;-->
    <!--private String password;-->
    <!--private String type;-->
    <form method="post" action="/updateuser">
        <tr>
            <td><input class="form-control " type="text" name="userid" value="{{userid}}" readonly/></td>
            <td><input class="form-control " type="text" name="username" value="{{username}}"/></td>
            <td><input class="form-control " type="text" name="password" value="{{password}}"/></td>
            <td>
                <input class="form-control " id="usertype{{userid}}" type="text" name="type" value="{{type}}" hidden />
                <select class="form-control " type="selectbox" onChange="userChange(this.id,'usertype{{userid}}')" id="typechange{{userid}}">
                    <option value="" disabled selected>{{type}}</option>
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
            </td>
            <td>
                <button class="btn btn-dark" type="submit">更新修改</button>
            </td>
            <!--<td><a class="btn btn-light">删除</a></td>-->
        </tr>
    </form>
    {{/userinfo}}
    <form method="post" action="/adminregister">
        <tr>
            <td><a class="btn">本行增加一个用户</a></td>
            <td><input class="form-control " type="text" name="username"/></td>
            <td><input class="form-control " type="text" name="password"/></td>
            <td>
                <select class="form-control " type="selectbox" name="type" hidden>
                    <option class="form-control " value="user">user</option>
                    <option class="form-control " value="admin">admin</option>
                </select>
            </td>
            <td>
                <button class="btn btn-dark" type="submit">增加</button>
            </td>
            <td></td>
        </tr>
    </form>
</table>

{{>layout/footer}}
<script>
    function userChange(typechange,usertype) {
        var typc = document.getElementById(typechange);
        var index = typc.selectedIndex;
        var value = typc.options[index].value;
        var usertype = document.getElementById(usertype);
        usertype.setAttribute("value", value);
    }
</script>
</body>
</html>