{{>layout/head}}
<title>edit article</title>
</head>

<body>

<!-- Navigation -->
{{>layout/navbar}}


<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>EDIT</h1>
                    <span class="subheading">edit article</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Input Your Title And Content You Can Use MarkDown</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            {{#edit_article}}
            <form method="post" action="/edit">
                <input name="articleid" value="{{articleid}}" hidden/>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <p>Post Date</p>
                        <input type="text" name="postdate" class="form-control" placeholder="title" name="Title"
                               value="{{postdate}}" readonly>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <p>Title</p>
                        <input type="text" class="form-control" placeholder="title" name="title" id="phone"
                               required data-validation-required-message="Please enter your title." value="{{title}}">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <p>Content</p>
                        <textarea name="context" rows="10" class="form-control" placeholder="Content" id="editarticle">{{context}}</textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 controls">
                        <br/>
                        <label class="btn">Open Comment?</label>
                        <div class="control-group">
                            <div class="col-xs-12 controls btn">
                                <br/>
                                {{^ishascomment}}
                                <input class=" form-control btn btn-light " type="checkbox" name="type"/>
                                {{/ishascomment}}
                                {{#ishascomment}}
                                <input class=" form-control btn btn-light " type="checkbox" name="type" checked/>
                                {{/ishascomment}}
                                <label class=>Open Comment?</label>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">EDIT</button>
                </div>
            </form>
            {{/edit_article}}
        </div>
    </div>
</div>

<hr>

{{>layout/script}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("editarticle")
    });
</script>
</body>
</html>