{{>layout/head}}
<title>Image</title>
<style>
    img {
        width: 100%;
    }
</style>
</head>
<body>
{{>layout/navbar}}

<header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Image</h1>
                    <span class="subheading">Photo Image</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Upload Your Photo</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form method="post" action="/image" enctype="multipart/form-data">
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <p>File</p>
                        <input type="file" class="form-control btn btn-light" placeholder="filehere" name="imagefile">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">POST</button>
                </div>
            </form>

        </div>
    </div>

</div>
<hr/>

{{#image_here}}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{{date}}}
                {{{image}}}
                <div class="form-group col-xs-12  controls">
                    <input type="text" class="form-control" value="{{imageurl}}" readonly/>
                    <a class="btn btn-light" src="{{imageurl}}">获取图片</a>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</article>
{{/image_here}}


{{>layout/script}}
</body>
</html>