{{>layout/head}}
<title>ALPHABET Simple Blog</title>
</head>

<body>

{{>layout/navbar}}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>ALPHABET Simple Blog</h1>
                    <span class="subheading">A Blog Create by ALPHABET</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{#articlePage}}
            <div class="post-preview">
                <a href="/article/{{articleid}}">
                    <h2 class="post-title">
                        {{title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{context}}
                    </h3>
                </a>
                <p class="post-meta">{{postdate}}</p>
                {{#adminpermission}}
                <a class="btn btn-light">hascomment:{{hascomment}}</a>
                <a class="btn btn-light" href="/edit/{{articleid}}">edit this</a>
                <a class="btn btn-light" href="/deletearticle/{{articleid}}">delete this</a>
                {{/adminpermission}}
            </div>
            <hr>
            {{/articlePage}}

            <!-- Pager -->

        </div>
    </div>
    <div class="row">
        <div class="clearfix col-lg-2 col-md-4 mx-auto">
            <a class="btn btn-primary float-left" id="prepage" value="{{pageindex}}">&larr;Precious Page </a>
        </div>
        <div class="clearfix col-lg-2 col-md-4 mx-auto">
            <a class="btn btn-primary float-right" id="nextpage" value="{{pageindex}}">Next Page &rarr;</a>
        </div>
        <label id="pagenum" value="{{pagenum}}" hidden></label>
    </div>
</div>


<script>
    var prepage = document.getElementById("prepage");
    var nextpage = document.getElementById("nextpage");
    var pagenum = document.getElementById("pagenum");
    prepage.onclick = function () {
        if (parseInt(prepage.value) === 0) {
            alert('this is the first page');
            return;
        } else {
            page = parseInt(prepage.value) - 1;
            window.location.href = "/list?page=" + page;
        }
        print("hahaha");
    }
    nextpage.onclick = function () {
        if (parseInt(nextpage.value) === parseInt(pagenum.value)) {
            alert('this is the last page');
        } else {
            page = parseInt(nextpage.value) + 1;
            window.location.href = "/list?page=" + page;
        }
        print("lalala");
    }
</script>
{{>layout/script}}

</body>
</html>