{{>layout/head}}
<title>write new article</title>
</head>

<body>

<!-- Navigation -->
{{>layout/navbar}}


<header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>WRITE</h1>
                    <span class="subheading">write new article</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Input Your Title And Content You Can Use MarkDown</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form method="post" action="/write">
                <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <p>Title</p>
                        <input type="text" class="form-control" placeholder="title" name="title" id="phone"
                               required data-validation-required-message="Please enter your title.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <p>Content</p>
                        <textarea name="context" rows="10" class="form-control" placeholder="content" id="postarticle"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group col-xs-12 controls">
                        <br/>
                        <label class="btn">Open Comment?</label>
                        <input class="form-control " id="usertype" type="text" name="type" value="false" readonly/>
                        <select class="form-control " type="selectbox" onChange="userChange()" id="typechange">
                            <option value="false" >false</option>
                            <option value="true" >true</option>
                        </select>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <hr/>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" >POST</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>


{{>layout/script}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
<script>
    var simplemde = new SimpleMDE({
        element: document.getElementById("postarticle")});
</script>
<script>
    function userChange(){
        var typc = document.getElementById("typechange");
        var index = typc.selectedIndex;
        var value= typc.options[index].value;
        var usertype = document.getElementById("usertype");
        usertype.setAttribute("value",value);
    }
</script>


</body>
</html>